/* #region Header */

::selection { background-color: var(--grayColorWeak); }

header.landleg { padding: 120px 60px; }

header.landleg h1.lead { font-size: 70px; }

header.landleg h1.logo {
    margin-top: 50px;

    font-size: 40px;
    font-weight: bold;
}

header.landleg h1.logo a:hover { color: var(--grayColorDarken) !important; }

/* #endregion */

/* #region Search */

div.search {
    max-width: 700px;
    min-width: 500px;
}

div.search div.piano button.btn {
    width: 170px;
}

input#inputSearch { width: 100%; }

/* #endregion */

/* #region Card */

div.fold-body#charactersContainer { perspective: 50000px; }

div.card {
    position: relative;
    width: 170px;
    height: 220px;
    
    border: 1px solid var(--grayColorWeak);
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    
    transform-style: preserve-3d;

    user-select: none;
    cursor: pointer;

    transition-property: background-color, transform;
    transition-duration: .5s;
}

div.card:hover { background-color: var(--grayColorWeak); }

div.card div.face {
    position: absolute;
    top: 50%;
    left: 50%;

    font-size: 100px;
    font-weight: bold;
    white-space: nowrap;
    
    backface-visibility: hidden;

    transform: translate(-50%, -50%);
}

div.card div.face.front {
    transform: translate(-50%, -50%) rotateY(0deg);
}

div.card div.face.back {
    transform: translate(-50%, -70%) rotateY(180deg);
}

div.card.flipped { transform: rotateY(180deg); }

/* #endregion */